<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }}" />
    {{ $description := .Site.Params.description }}
    {{ if ( eq .Kind "page" ) }}
      {{ $description = .Summary }}
    {{ end }}
    {{ if .Params.description }}
      {{ $description = .Params.description }}
    {{ end }}
    {{ if $description }}<meta name="description" content="{{ truncate 150 $description }}">{{ end }}
    {{ if .Params.NoIndex }}<meta name="robots" content="noindex">{{ end }}
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}favicon.ico">
    {{- $siteTitle := .Site.Title -}}
    {{- if ne .Site.Title "" -}}
      {{- if .Params.TitleOverride -}}
        {{- $siteTitle = (print .Title) -}}
      {{- else -}}
        {{- $siteTitle = (print .Title " | " .Site.Title) -}}
      {{- end -}}
    {{- end -}}
    <title>{{ $siteTitle }}</title>
    {{ partial "tags_head" . -}}
    {{ $waterCss := resources.Get "css/water.light.min.css" }}
    {{ $themeCss := resources.Get "css/theme.css" }}
    {{ $bundleCss := slice $waterCss $themeCss | resources.Concat "css/bundle.css" | resources.Minify }}
    <style>
      {{ $bundleCss.Content | safeCSS }}
    </style>
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ $.Site.BaseURL}}{{ . }}">
    {{ end }}
    {{- $socialImage := print .Site.BaseURL "img/social-image.png" -}}
    {{- if .Params.header_image -}}
      {{- $socialImage = print .Permalink .Params.header_image -}}
    {{- end -}}
    <meta property="og:title" content="{{ $siteTitle | safeHTML }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ $socialImage }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:site_name" content="Jayden Meyer">
    <meta name="twitter:image:alt" content="An 8-bit pixel icon">
    <meta name="twitter:card" content="summary_large_image">
  </head>
